---
import type { GetStaticPaths } from "astro";
import type { PokemonListResponse } from "@interfaces/pokemon-list.response";

import MainLayout from "@layouts/MainLayout.astro";
import PokemonCard from "@components/pokemon/PokemonCard.astro";
import Title from "@components/shared/Title.astro";
import { Icon } from "astro-icon/components";

export const getStaticPaths = (async () => {
  const resp = await fetch("https://pokeapi.co/api/v2/pokemon?limit=151");
  const { results } = (await resp.json()) as PokemonListResponse;

  return results.map(({ name, url }) => ({
    params: { name },
    props: { name, url },
  }));
}) satisfies GetStaticPaths;

const { name } = Astro.params;
const { url } = Astro.props;

const id = url.split("/").at(-2);
const audioSrc = `https://raw.githubusercontent.com/PokeAPI/cries/main/cries/pokemon/latest/${id}.ogg`;
const imageSrc = `https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/${id}.png`;
---

<MainLayout
  description={`Información sobre el pokémon ${name}`}
  title={`Pokémon - #${id} ${name}`}
  image={imageSrc}
>
  <section class="mt-10 mx-10 flex flex-col justify-center items-center">
    <div class="flex gap-4">
      <Title>{name}</Title>

      <button id="btn-favorite" data-name={name} data-id={id}>
        <Icon data-outline name="heart-outline" size={50} />
        <Icon data-full class="hidden" name="heart-full" size={50} />
      </button>

      <button class="btn-back" onclick="history.back()">Regresar</button>
    </div>

    <PokemonCard isBig name={name} url={url} />

    <audio controls class="mt-5">
      <source src={audioSrc} type="audio/ogg" />
      Your browser does not support the audio elements.
    </audio>
  </section>
</MainLayout>

<script>
  import { $ } from "@utils/query-selector.util";

  type FavoritePokemon = {
    name: string;
    id: number;
  };

  const handlePageLoad = () => {
    const STORAGE_KEY = "favorites-pokemons";
    let favoritePokemons: FavoritePokemon[] = JSON.parse(
      localStorage.getItem(STORAGE_KEY) ?? "[]"
    );

    const btnFavorite = $<HTMLButtonElement>("#btn-favorite");

    if (!btnFavorite) return;

    const name = btnFavorite.dataset.name ?? "";
    const id = +(btnFavorite.dataset.id ?? "0");
    const isFavoritePokemon = favoritePokemons.some(
      (pokemon) => pokemon.name === name
    );

    const heartOutline = btnFavorite.querySelector(
      "[data-outline]"
    ) as HTMLElement;
    const heartFull = btnFavorite.querySelector("[data-full]") as HTMLElement;

    if (isFavoritePokemon) {
      heartOutline.classList.toggle("hidden");
      heartFull.classList.toggle("hidden");
    }

    const toggleFavorite = () => {
      const isFavorite = favoritePokemons.some(
        (pokemon) => pokemon.name === name
      );

      if (isFavorite) {
        favoritePokemons = favoritePokemons.filter(
          (pokemon) => pokemon.name !== name
        );
      } else {
        favoritePokemons.push({
          name,
          id,
        });
      }

      localStorage.setItem(STORAGE_KEY, JSON.stringify(favoritePokemons));
    };

    btnFavorite.addEventListener("click", () => {
      heartOutline.classList.toggle("hidden");
      heartFull.classList.toggle("hidden");

      toggleFavorite();
    });
  };

  // TODO: esto permite que el script se lea siempre cuando usamos view transition
  document.addEventListener("astro:page-load", handlePageLoad);

  // document.addEventListener("astro:before-preparation", () => {
  //   console.log("astro:before-preparation");
  // });

  // document.addEventListener("astro:after-preparation", () => {
  //   console.log("astro:after-preparation");
  // });

  // document.addEventListener("astro:before-swap", () => {
  //   console.log("astro:before-swap");
  // });

  // document.addEventListener("astro:after-swap", () => {
  //   console.log("astro:after-swap");
  // });

  // document.addEventListener("astro:page-load", () => {
  //   console.log("astro:page-load");
  // });
</script>

<style>
  /* TODO: esto solucion el error con apply en tailwind v4 */
  @reference "../../styles/global.css";
  .btn-back {
    @apply hover:underline text-blue-400 w-max cursor-pointer;
  }

  #btn-favorite {
    @apply hover:animate-pulse cursor-pointer;
  }
</style>
