---
import { ClientRouter } from "astro:transitions";
import { siteInfo } from "@consts/site-info";
import "../styles/global.css";

interface Props {
  title?: string;
  image?: string;
  description?: string;
}

const {
  description = siteInfo.description,
  title = siteInfo.title,
  image,
} = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- SEO -->
    <meta name="description" content={description} />
    <meta name="author" content="Ignacio Arriagada" />

    <!-- OG Metatags -->
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={image} />
    <!-- Required -->
    <title>{title}</title>

    <!-- TODO: Transiciones de paginas con JS, mas soporte (genera polyfill para obtener compatibilidad en mas navegadores) -->
    <ClientRouter />

    <!-- TODO: Transiciones de paginas con 0 JS, menos soporte -->
    <!-- <style>
      @view-transition {
        navigation: auto;
      }
    </style> -->
  </head>
  <body class="bg-slate-800 text-slate-100 m-auto max-w-3xl">
    <main class="mt-10">
      <slot />
    </main>
  </body>
</html>
